
<h1>Administrative</h1>
<br/>

<%= link_to 'System Setting',"settings" ,:class=>'btn btn-default' %>
<br/><br/>
<%= link_to 'System Update',"update" ,:class=>'btn btn-default'%>
<br/><br/>
<%= link_to 'Date Reset',"../Sense/reset" ,:class=>'btn btn-default'%>
<br/><br/>
<%= link_to 'Reboot',"reboot" ,:class=>'btn btn-danger'%> | <%= link_to 'Shutdown',"shutdown" ,:class=>'btn btn-danger'%>
<br/><br/>
<pre style="font-size:0.8em">
<%=`ifconfig`%></pre>