<style>
	table label {width:300px; padding:5px;}
</style>
<div class="row" id="r#{record.id}">
<div class="col-sm-12 alert alert-info" >	
<%
	
	# mode = 'create' unless defined? mode
	mode = 'create' unless mode
	params['record'] = record.attributes
	mode_btn = mode.humanize
	mode_btn = 'Update' if mode=='edit'
	
%>
<%= form('../DataRecord/'+mode, :post) %>
<% fieldset(:record) do |f| %>
<%=f.hidden :id, :value=>record.id %>
<%=f.hidden :admit_id, :value=>params[:id]%>

<label> Time : </label> <value><%=f.input(:stamp,:value=> Time.now.strftime("%Y-%m-%dT%H:%M"),:style=>"width:200px") %></value><br/>
<p>
<label>BP : </label> <value><%=f.input(:bp_sys,:value=> record.bp_sys ,:style=>"width:50px") %> / <%=f.input(:bp_dia,:value=> record.bp_dia ,:style=>"width:50px") %></value>

<label>PR : </label> <value><%=f.input(:pr,:value=> record.pr ,:style=>"width:50px") %></value>
<label>RR : </label> <value><%=f.input(:bp_rr,:value=> record.rr ,:style=>"width:50px") %></value>
<label>SO<sub>2</sub> : </label> <value><%=f.input(:so2,:value=> record.so2 ,:style=>"width:50px") %></value><br/>
</p>
<table>
	<tr>
		<td><strong>Conscious :</strong>  </td><td> <value> <%= f.radio(:question_1, [['2','Wake up'], ['1','Sleep wake up'], ['0','Non-responsive']]) %></value></td>
	</tr>
	<tr>
		<td> <strong>Respiration :</strong> </td><td> <value> <%= f.radio(:question_2, [['2','Normal breathing'], ['1','Bad breath'], ['0','Do not breath']]) %></value></td>
	</tr>
	<tr>
		<td> <strong>Nausea/Vomiting :</strong> </td><td> <value> <%= f.radio(:question_3, [['2','No symptoms'], ['1','Symptoms'], ['0','Symptoms of the drug has not lost.
		Pain']]) %></value></td>
	</tr>
	<tr>
		<td> <strong>Pain :</strong> </td><td> <value> <%= f.radio(:question_4, [['2','No pain in the chest'], ['1','Have pain in the chest'], ['0','Have pain very painful chest
		Bleeding']]) %></value></td>
	</tr>
	<tr>
		<td> <strong>Bleeding :</strong> </td><td> <value> <%= f.radio(:question_5, [['2','No bleeding'], ['0','Bleeding'] ]) %></value></td>
	</tr>
	<tr>
		<td> <strong>Ambulation :</strong> </td><td> <value> <%= f.radio(:question_6, [['2','Can sit up not dizziness'], ['1','Need a helper to sit or walk'], ['0','Can not sit down']]) %></value></td>
	</tr>
	<tr>
		<td> </td><td> </td>
	</tr>
	
</table>


<%= record.stamp%>




<% end %>
<br/>

<%=submit mode_btn, :class=>'btn btn-success'%>
<%=link_to "Cancel", "javascript:$('#new-record').slideUp()" %>

</div>
</div>
</form>