<h1>ค้นหารายการ</h1>
<div class="row">
<div class="col-md-12">


<%
	accounts = Account.where(:code=>params[:query]).all
	
	if accounts.size > 0  
%>


<div class="row">
  	
  <h4>  Result in  Accounts </h4>
  
  <%
	
	# accounts = Account.where(:branch_id=> branch.id, :updated_at=>{'$gte'=>Date.new.beginning_of_day}).all
	# accounts = Account.all
	
  %>
<table class="table">
	<thead>
		<tr><th>Code</th><th>ราคา</th><th>น้ำหนัก</th><th>ราคารวม</th><th>เปิดบัญชีเมื่อ</th>
		</tr>
	</thead>
   <% for i in accounts %>
	<tr>
		<td><%=link_to i.code, "../Account/show?id=#{i.id}"%></td>
		<td><%=i.gold_price%></td>
		<td><%=i.weight%></td>
		<td><%=i.total_amount%></td>
		<td><%=i.created_at.strftime("%d/%m/%Y")%></td>
		<td><%=link_to 'Show', "../Account/show?id=#{i.id}", :class=>'btn btn-default'%></td>
		
		</tr>
   <% end %>
</table>

</div>

<% end %>


<%
	members = Member.where('$or'=>[{:code=>params[:query]},{:tel=>params[:query]}]).all
	
	if members.size > 0 
%>


<div class="row">
  	
  <h4> Result in Members </h4>
  
  <%
	
	# accounts = Account.where(:branch_id=> branch.id, :updated_at=>{'$gte'=>Date.new.beginning_of_day}).all
	# accounts = Account.all
	
  %>
<table class="table">
	<thead>
		<tr><th>Code</th><th>ชื่อ</th><th>Tel</th>
		</tr>
	</thead>
   <% for i in members %>
		<tr>
			<td><%=link_to i.code, "../Member/show?id=#{i.id}"%></td>
			<td><%=link_to i.name, "../Member/show?id=#{i.id}"%></td>
		
	     	<td><%=link_to i.tel, "../Member/show?id=#{i.id}"%></td>
			<td><%=link_to 'Show', "../Member/show?id=#{i.id}" , :class=>'btn btn-default'%></td>
			</tr>
   <% end %>
</table>

</div>

<% end %>


<%= link_to 'Back to Home', "index", :class=>'btn btn-default'%>





</div>


</div>
