<h1>Products</h1>
<table class="table table-striped">
<% 
	for i in Product.all
%>
<tr>
	<td><%=i.name %></td>
	<td><%=i.description %></td>
	<td><%=i.price %></td>
	
	<td><%=i.product_category_id %></td>
	<td><%=image_id_tag i.image_1, :width=>100 %></td>
	<td>
	<%=link_to 'Show',"show?id=#{i.id}",:class=>'btn btn-default' %>
	<%=link_to 'Edit',"edit?id=#{i.id}",:class=>'btn btn-info' %>
	<%=link_to 'Del',"destroy?id=#{i.id}",:class=>'btn btn-danger' %>
	</td>
</tr>
<% end %>
</table>


<a href="create" class="btn btn-success">Create</a>