
<%

	admits = Admit.where(:status=>'Admitted').all

%>


<div class="row">

<% for i in admits 
patient = i.patient
%>  <div class="col-sm-4">
<div class="card" style=" border:1px solid #ccc; border-radius:.25rem;padding:10px;margin-top:10px">
  <div class="card-body">
	
	<div class="row">
	<div class="col-sm-4">
	<a href="show?id=<%=i.id%>"><img class="card-img-top" src="patient.png" height="80" alt="Card image cap"></a>
		  
	</div>
	<div class="col-sm-4">
    <h4 class="card-title"><Card title>
    <%=patient.hn if patient %> <br/> <%=patient.name if patient %>&nbsp;</h4>
    <p class="card-text"><%= i.station if i.station%></p>
	</div>
	
	
	<div class="col-sm-4">
		
		
		<%
		
		last = i.records.last
		
		
		score = '-'
		score = i.score if i.score
		%>
		<center>
	<span style="font-size:3em"><%=score%></span>
	<br/>
	score
	<br/>
	
	<span style="color:blue"><%= Time.now.strftime("%H:%M") %></span>
	<span style=""><%=last.bp_sys if last%>/<%=last.bp_dia if last%></span>
	</center>
	</div>
   </div>
   <center>
   <a href="show?id=<%=i.id%>" class="btn btn-primary">Data Record</a>
 </center>
  </div>
</div>
</div>
<% end %>

</div>
<br/>