<h1><%=params[:service]%> Show</h1>
<%
   record =  this.model.find params[:id]
if record  
%>
<%
	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
	for i in keys
%>	
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize%></label>

    <input type="text" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value="<%=record[i[0]]%>" placeholder="<%=i[0]%>" disabled>

  </div>
<% end %>

<% end %><hr/>
<%=link_to 'Change Password', "change_password?id=#{params[:id]}",:class=>'btn btn-warning'%>
<%=link_to 'Edit', "edit?id=#{params[:id]}&return=#{request.fullpath}",:class=>'btn btn-info'%>
<%=link_to 'Back', 'index',:class=>'btn'%>
