<%
	content_path = "#{Setting.get_value('content_server')}/content"
	
	sessions = Session.all :limit=>50
	map = {}
	videos = Video.where(:session_id=>{'$in'=>sessions.collect{|i| i.id }}).all
	for i in videos 
		
		map[i.session_id] = [] unless map[i.session_id]
		map[i.session_id] << i
		
	end
	
%>
<div class="row" style="font-size:0.8em">
<%	
sessions.each_with_index do |i,index|
%>

<div class="col-sm-2">
<a href="../Session/show?id=<%=i.id%>">

<%
	videos = map[i.id]
	if videos.sort{|a,b| a.name<=>b.name}.size>0
%>
	<img src="<%=File.join(content_path, videos[0].path.gsub("mp4","jpg") )%>"  style="width:150px;height:100px">
<% end %>
<%= i.key%>
<%= i.op%>
<%= i.datetime.strftime("%d-%m-%Y")%>
</a>
</div>

<% end %>

</div>