<%
	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
	
	zones = Zone.all
	
	
	
	for i in keys
		
%>
<%		
	if i[0]=='zone_id'	
%>
<div class="form-group">
  <label for="product-name"><%=i[0].humanize%></label>

<select id="record-<%=i[0]%>" name="record[<%=i[0]%>]" class="form-control" value="<%=@record[i[0]]%>">
<% for j in zones%>
  <option value="<%=j.id%>" <%="selected" if @record[i[0]]==j.id %>><%=j.name%></option>
<% end %>
</select>

</div>

<%		
	elsif i[0]=='type'	
%>
<div class="form-group">
  <label for="product-name"><%=i[0].humanize%></label>

<select id="record-<%=i[0]%>" name="record[<%=i[0]%>]" class="form-control" value="<%=@record[i[0]]%>">
<% for j in [['vista120','Vista120'],['b450','B450']] %>
  <option value="<%=j[0]%>" <%="selected" if @record[i[0]]==j[0] %>><%=j[1]%></option>
<% end %>
</select>

</div>
	

<% else %>	
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize%></label>
    <input type="text" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value="<%=@record[i[0]]%>" placeholder="<%=i[0]%>">
  </div>
<% end %>
<% end %>
